.navbar {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  /* background-color: #ff3b3f; */
  padding: 1rem 2rem;
}

.nav-links a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ff3b3f;
  transition: color 0.3s ease;
}
